body {
  font-family: "Roboto", sans-serif;
  background: #cc95c0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background: rgba(40, 37, 82, 0.6);
  color: #fff;
  font-size: 18px;
  padding: 40px 10px;
  font-weight: 300;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px 0 rgba(40, 37, 82, 0.6);
  margin-top: 40px;
}

.heart {
  color: red;
}

.searchbox label {
  margin: 0 20px 0 0;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.searchbox {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgb(142 91 129 / 42%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  backdrop-filter: blur(5px);
}

.searchbox input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #fff;
  flex: 1;
  max-width: 40%;
}

@media (max-width: 767px) {
  .searchbox label {
    margin: 0 0 10px 0;
  }
  .searchbox input {
    max-width: 90%;
  }
}
